# Copy this file to .env and update with your own values

# Set to 0 when running locally
FLY_IO=0

# Your OpenAI API key
OPENAI_API_KEY=sk-...

# Optional: override default data folder path
# DATA_DIR=/absolute/path/to/your/data

TWILIO_PHONE_NUMBER=+1123456789