# Copy this file to .env and update with your own values

# Public base url
BASE_URL=https://dev.bt-servant.door43.org

# Your OpenAI API key
OPENAI_API_KEY=sk-r4nd0mFAK3k3yXxXxXxXxXxXxXxXxXxXxXxXxXx

# Groq API key
GROQ_API_KEY=gsk_ttttttttttttttttttttttttttttttttttttttttttttttt

# token used to make calls against the meta cloud api
# the token below is fake of course
META_WHATSAPP_TOKEN=EAAJZC0ZB4ZCy4BAOZCgZCZCZCgVZCTOZCRUZCZAQZDZDRA3k38zD3cdsXkWnQUhdHT7gJYPlNfslXVu23mQXw6tvv59J

# token used during Meta's one-time verification of the webhook
META_VERIFY_TOKEN=aB9gggggQ8Xw1P7MvLgKe25YNrJasfasdfasf

# id of the WhatsApp bots meta verified phone number
# this is not the actual phone number, just Meta's internal id of
# said number
META_PHONE_NUMBER_ID=123456789123456

# log level. Optional. Defaults to DEBUG if not present
BT_SERVANT_LOG_LEVEL=debug

IN_META_SANDBOX_MODE=True

META_SANDBOX_PHONE_NUMBER=14438677777

# Optional admin auth toggles
ENABLE_ADMIN_AUTH=False
ADMIN_API_TOKEN=change-me-for-admin
HEALTHCHECK_API_TOKEN=change-me-for-health
